@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body
{
	height: 100%;
	width: 100%;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	background-color: #000000;
}

/* top bar */
#topbar
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #000000;
	text-align: center;
	font-size: 1.5em;
	color: #ffffff;
	z-index: 999;

}

#topbar p
{
	text-transform: uppercase;
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;

	padding-top: 0.5em;
}


/* Nav */

#menu
{
	position: fixed;
	top: 0px;
	width: 300px;
	height: 100%;
	background-color: #fafafa;
	z-index: 999;
	transition: 0.5s;
}

.nav-hidden
{
	left: -300px;
}

.nav-visible
{
	left: 0px;
}

#menu li
{
	list-style: none;
	margin-top: 30px;
}

#menu li a
{
	color: #CCCCCC;
	font-size: 1.3em;
}

#menu
{
	margin-top: 50px;
	background-color: #000000;
	color: #ffffff;

}

#menuword
{
	position: absolute;
	top: 28px;
	left: 65px;
	font-size: 0.8em;
	color: #EAEAEA;
}

/*/ Nav */

/* Nav hamburger */
#navhamburger
{
	width: 200px;
	height: 75px;
	position: absolute;
	top: -15px;
	left: -15px;
	cursor: pointer;
}

#navhamburger svg {
  width: 75px;
  height: 75px;
  display: block;
  transform: translate3d(0, 0, 0);
}
#navhamburger path {
  fill: none;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: #ffffff;
  stroke-dashoffset: 0px;
}
#navhamburger path#top,
path#bottom {
  stroke-dasharray: 240px 950px;
}
path#middle {
  stroke-dasharray: 240px 240px;
}
.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}
/*/Nav Hamburger */

/* external nav */
.external-link-buttons
{
	position: absolute;
	right: 10px;
	top: 08px;
}

.external-link-buttons a
{
	display: inline-block;
	margin-right: 5px;
}

/*/ external nav */

.center-headers h1, h2, h3, h4, h5, h6
{
	text-align: center;
	color: #EAEAEA;
}

.thin-container
{
	max-width: 550px;
	padding: 25px;
}


#identitycontent p
{
	margin-top: 30px;
	margin-bottom: 60px;
	line-height: 2em;
	font-size: 1.2em;
	color: #BBBBBB;
}

.cta-link
{
	text-align: center;
}

#identitycontent a
{
	font-size: 1.0em;
	color: #FFD700;
}

#identitycontent h2
{
	margin-top: 100px;
}



.img-responsive-narrow
{
	width: 50%;
	margin: 0 auto;
}

#selfportrait
{
	margin-top: 50px;
	margin-bottom: 80px;
}

#panel
{
	position: absolute;
	top: 50px;
	width: 100%;
	bottom: 0px;
	background-color: #CCCCCC;
	background-image: url('../content/IMG_1015-6.jpg');
	background-size: cover;
	background-position: center center;
}

#identitycontent
{
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	margin-top: 50px;
	margin-bottom: 200px;
	position: relative;

	animation: idfadedown 1s ease-in forwards;
	-webkit-animation: idfadedown 1s;
}

@keyframes idfadedown
{
  from {top: -100px; opacity: 0.2;}
  to {top: 0px; opacity: 1;}
}

@-webkit-keyframes idfadedown
{
  from {top: -100px; opacity: 0.2;}
  to {top: 0px; opacity: 1;}
}

footer
{
}

@media only screen and (max-device-width : 736px) {

	h2
	{
		font-size: 2em;
	}

	#identitycontent
	{
		margin-top: 0px;
		padding: 10px;
		animation: none;
		-webkit-animation: none;
	}

	#menuword
	{
		display: none;
	}

}