@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body
{
	width: 100%;
	margin: 0px;
	overflow: auto;
	font-family: 'Open Sans', sans-serif;
	
	background-color: #F2F2F2; /*#35586C*/
	color: #000000;
}

/* top bar */
#topbar
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #000000;
	text-align: center;
	font-size: 1.5em;
	color: #ffffff;
	z-index: 999;

}

#topbar p
{
	text-transform: uppercase;
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;

	padding-top: 0.5em;
}

#name a
{
	color: #FFFFFF;
}


/* Nav */

#menu
{
	position: fixed;
	top: 0px;
	width: 300px;
	height: 100%;
	background-color: #fafafa;
	z-index: 888;
	transition: 0.5s;
}

.nav-hidden
{
	left: -300px;
}

.nav-visible
{
	left: 0px;
}

#menu li
{
	list-style: none;
	margin-top: 30px;
}

#menu li a
{
	color: #CCCCCC;
	font-size: 1.3em;
}

#menu
{
	margin-top: 50px;
	background-color: #000000;
	color: #ffffff;

}

#menuword
{
	position: absolute;
	top: 28px;
	left: 65px;
	font-size: 0.8em;
	color: #EAEAEA;
}

/*/ Nav */

/* Nav hamburger */
#navhamburger
{
	width: 150px;
	height: 75px;
	position: absolute;
	top: -15px;
	left: -15px;
	cursor: pointer;
}

#navhamburger svg {
  width: 75px;
  height: 75px;
  display: block;
  transform: translate3d(0, 0, 0);
}
#navhamburger path {
  fill: none;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: #ffffff;
  stroke-dashoffset: 0px;
}
#navhamburger path#top,
path#bottom {
  stroke-dasharray: 240px 950px;
}
path#middle {
  stroke-dasharray: 240px 240px;
}
.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}
.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}
/*/Nav Hamburger */

/* external nav */
.external-link-buttons
{
	position: absolute;
	right: 10px;
	top: 08px;
}

.external-link-buttons a
{
	display: inline-block;
	margin-right: 5px;
}

/*/ external nav */

.center-headers h1, h2, h3, h4, h5, h6
{
	text-align: center;
}

.thin-container
{
	max-width: 550px;
	padding: 25px;
}

.container-topadjust
{
	margin-top: 100px;
}

.container-topadjust-small
{
	margin-top: 40px;
}

#identitycontent p
{
	margin-top: 30px;
	margin-bottom: 60px;
	line-height: 2em;
	font-size: 1.2em;
	color: #BBBBBB;
}

.cta-link
{
	text-align: center;
}

#identitycontent a
{
	font-size: 1.0em;
	color: #FFD700;
}

#identitycontent h2
{
	margin-top: 100px;
}



.img-responsive-narrow
{
	width: 50%;
	margin: 0 auto;
}

#selfportrait
{
	margin-top: 50px;
	margin-bottom: 80px;
}

#panel
{
	position: fixed;
	top: 0px;
	width: 100%;
	bottom: 0px;
	background-color: #CCCCCC;
	background-image: url('../content/IMG_1015-6.jpg');
	background-size: cover;
	background-position: center center;
}


#panel-about
{
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;


	padding-top: 1px;
    margin-top: -1px;

	background-color: #CCCCCC;
	background-attachment: fixed;
	background-image: url('../content/IMG_1015-6.jpg');
	background-size: cover;
	background-position: center center; 
}

#identitycontent
{
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	margin-top: 100px;
	margin-bottom: 200px;


	animation: idfadedown 1s ease-in forwards;
	-webkit-animation: idfadedown 1s;
}

@keyframes idfadedown
{
  from {margin-top: -20px; opacity: 0.2;}
  to {margin-top: 100px; opacity: 1;}
}

@-webkit-keyframes idfadedown
{
  from {margin-top: -20px; opacity: 0.2;}
  to {margin-top: 100px; opacity: 1;}
}

footer
{
}

.resume-leader
{
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #333333;

}

.resume-education-title
{
}

.employmentjob
{
	margin-top: 40px;
}

.resume-education-leader
{
	font-weight: bold;
	margin-top: 20px;
}

.resume-title
{
	font-weight: bold;
}

.resume-table
{
	margin-top: 60px;
}

.resume-date
{
	color: #555555;
}

.resume-location
{
	font-style: italic;
}

#resume-container
{
	margin-top: 80px;
}

#printer-friendly-notice
{
	color: #555555;
	margin-top: 40px;
	text-align: center;
}

#bottomspacer
{
	margin-top: 40px;
}

/* Portfolio */

#portfoliotop
{
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-bottom: 1px solid grey;
	background-color: #FFFFFF;
}

#portfolio-container
{
	padding-bottom: 40px;
}

.portfolio-item
{
	background-color: #FFFFFF;
	display: inline-block;
	width: 100%;
	margin-top: 80px;
}

.portfolio-story p
{
	margin-bottom: 35px;
}

.portfolio-subitem
{
	margin-top: 60px;
}

.portfolio-feature-image
{

}

.portfolio-inline-img
{
	width: 100%;
	
	margin-top: 60px;
	margin-bottom: 60px;

}


.portfolio-inline-img img
{
	width: 100%;
	max-width: 1800px;
	margin: 0 auto;
}

.portfolio-nostretch-img
{
	margin-top: 60px;
	margin-bottom: 60px;
	width: 100%;

}

.portfolio-nostretch-img img
{
	margin: 0 auto;
	display: block;
}


.portfolio-inline-img-caption
{
	margin: 0 auto;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-style: italic;
	font-size: 0.9em;
	text-align: center;

}

.portfolio-story
{
	text-align: left;
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 1.2em;
	padding: 40px;
}

.portfolio-readmore
{
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	max-width: 95%;
	margin: 0 auto;
	margin-top: 10px;

}

.portfolio-feature-image img
{
	width: 100%;
	height: 100%;
}

.portfolio-descriptor
{
	text-align: center;
	padding: 10px;
	font-size: 2em;
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
}

.portfolio-category
{
	text-align: center;
	padding: 10px;
	font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
	font-style: italic;
}

/* contact form */

#contactcontent
{
	margin-top: 50px;
	margin-bottom: 200px;
	position: relative;
}

.spacious-form-group
{
	margin-top: 50px;
}

.sdoffset
{
	position: absolute;
	left: -9999px;
}

.zerowidthfade
{
	width: 0px;
	opacity: 0;
	transition: 1.3s;
}

#sendformcomplete-container
{
	position: absolute;
	top: 200px;
	left: 0px;
	width: 100%;
	display: none;
}

#sendformcomplete
{
	margin: 0 auto;
	display: table;
	font-size: 2em;
}

#sendformcomplete span
{
	font-size: 6em;
}

/* Skills */
.navbar-fixed-top-offset
{
	top: 50px;
	z-index: 777;
}

.skillinfo
{
	text-align: center;
	color: #333333;
	margin-top: 20px;
}

#skills section
{
	margin-top: 50px;
}

#skills section h2
{
	font-size: 1.4em;
	margin-bottom: 50px;
}

.skillbox
{
	-webkit-box-shadow: 5px 5px 16px -3px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 5px 16px -3px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 16px -3px rgba(0,0,0,0.5);
	width: 100%;
	min-height: 50px;
	padding: 10px;
}

.skillbox h3
{

}

.skillbox ul
{
	display: block;
}

.skillbox li
{
	text-align: left;
	list-style: none;

}

#scrollspy-psuedodiv
{
	position: relative;
}

.skillcircle
{
	width: 70%;
	margin: 0 auto;
}

.progressbar-text
{
	font-weight: bold;
	text-align: center;
}

.skillcircle-skill
{
	font-size: 1.4em;
}

.skillcontainer
{
	cursor: pointer;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
}

.skillssupercontainer
{
	position: relative;
}

.skillcontainerballoon
{
	display: inline-block;
}

.skillssupercontainer .row
{
	margin-top: 70px;
}

.skillsupportcontainer
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0%;
	height: 0%;
	opacity: 0;
	padding: 20px;
	transition: all 1s ease-in-out;
}

.skillsupportcontainerballoon
{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 100;

	background-color: white;
	border: 5px solid black;
}

.skilldatafodder
{
	display: none;
}

.skillsupportcontainer h1
{
	text-align: left;
	padding-bottom: 30px;
}

.skillleader
{
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 10px;
}

.skilldatacloser
{
	position: absolute;
	top: 0px;
	right: 20px;
	font-size: 3em;
	cursor: pointer;
}


@media only screen and (max-device-width : 415px) {

	h2
	{
		font-size: 2em;
	}

	#identitycontent
	{
		margin-top: 0px;
		padding: 10px;
		animation: none;
		-webkit-animation: none;
	}

	#contactcontent
	{
		margin-top: 30px;
		padding: 10px;
		animation: none;
		-webkit-animation: none;
	}

	.spacious-form-group
	{
		margin-top: 20px;
	}

	#navhamburger
	{
		width: 120px;
	}

	#menuword
	{
		display: none;
	}

	#portfolio-container
	{
		margin: 0px;
	}

	#portfoliotop
	{
		margin-top: 0px;
	}

	.portfolio-item
	{
		display: block;
		margin-top: 50px;
		margin-bottom: 20px;
	}

	.portfolio-story
	{
		margin-top: 60px;
		margin-bottom: 60px;
		padding: 5px;
	}


}

@media print {

	#topbar
	{
		display: none !important;
	}

	#menu
	{
		display: none !important;
	}

	#printer-friendly-notice
	{
		display: none;
	}

}